<%= form_for :reservations, :html => {:multipart => true} do |builder| %>
  <% if @reservation.errors.any? %>
    <div id=" ">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= builder.label :email %><br>
    <%= builder.text_field :email %>
  </div>
  <div class="field">
    <%= builder.label :date %><br>
    <%= builder.datetime_select :date %>
  </div>
  <div class="field">
    <%= builder.label :message %><br>
    <%= builder.text_area :message %>
  </div>
  <div class="field">
    <%= builder.label :restaurant %><br>
    <%= builder.text_field :restaurant %>
  </div>
 

<div class="form-actions">
    <%= builder.submit :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurants_path, :class => 'btn' %>

  </div>

<% end %>
