<%= form_for (Reservation.new), :html => {:multipart => true} do |builder| %>
 
  <div class="field">
    <%= builder.label :email %><br>
    <%= builder.text_field :email %>
  </div>
  <div class="field">
    <%= builder.label :date %><br>
    <%= builder.datetime_select :date %>
  </div>
  <div class="field">
    <%= builder.label :message %><br>
    <%= builder.text_area :message %>
  </div>
  <div class="field">
    <%= builder.label :restaurant %><br>
    <%= builder.text_field :restaurant %>
  </div>
 
<div class="form-actions">
    <%= builder.submit :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurants_path, :class => 'btn' %>

  </div>

<% end %>
