<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @reservation.email %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<p>
  <strong>Message:</strong>
  <%= @reservation.message %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @reservation.restaurant %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
